@model BlogPost


<div class="card mb-2 p-2 bg-light">
    

    <div class="card-body p-0 m-0">
        <h5 class="card-title p-0 m-0 w-100">
            @Model.Title
        </h5>
        @if (Model.Author is not null)
        {
            <h6 class="card-subtitle mb-2 text-muted p-1">
                @Model.Author.FirstName @Model.Author.LastName
            </h6>
        }

        <p class="card-text p-1">
            @Model.Content
        </p>

        @if (ViewData["IsDetail"] is true)
        {
            <a asp-area="" asp-controller="Blog" asp-action="Index" class="btn btn-primary card-link">
                Go Back
            </a>
        }
        else
        {
            <a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-primary card-link">
                Details
            </a>
        }
    </div>
</div>
